:root {
  --variable-collection-textos: rgba(30, 30, 30, 1);
  --variable-collection-textos-2: rgba(122, 122, 122, 1);
  --variable-collection-bloques: rgba(241, 241, 241, 1);
  --variable-collection-lineas: rgba(211, 211, 211, 1);
  --variable-collection-botones: rgba(34, 87, 229, 1);
  --variable-collection-tag-medium-txt: rgba(219, 159, 93, 1);
  --variable-collection-tag-medium-bg: rgba(249, 238, 228, 1);
  --variable-collection-tag-high-txt: rgba(221, 91, 104, 1);
  --variable-collection-tag-high-bg: rgba(252, 229, 228, 1);
  --variable-collection-tag-normal-txt: rgba(93, 216, 99, 1);
  --variable-collection-tag-normal-bg: rgba(228, 247, 235, 1);
}
