.messages {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
}

.messages .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 1000px;
}

.messages .overlap {
  position: relative;
  width: 2334px;
  height: 1000px;
}

.messages .ning {
  position: absolute;
  width: 1920px;
  height: 1000px;
  top: 0;
  left: 0;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.messages .rectangle {
  width: 356px;
  height: 1000px;
  left: 284px;
  background-color: #ffffffb2;
  position: absolute;
  top: 0;
}

.messages .sidebar {
  position: absolute;
  width: 282px;
  height: 1000px;
  top: 0;
  left: 0;
  background-color: #ffffffb2;
}

.messages .configuration {
  position: absolute;
  width: 134px;
  height: 21px;
  top: 940px;
  left: 38px;
}

.messages .text-wrapper {
  position: absolute;
  top: 0;
  left: 35px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .config-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-image: url(./img/vector-21.svg);
  background-size: 100% 100%;
}

.messages .vector {
  position: absolute;
  width: 15px;
  height: 15px;
}

.messages .dark-mode {
  position: absolute;
  width: 204px;
  height: 23px;
  top: 893px;
  left: 39px;
}

.messages .overlap-group {
  position: absolute;
  width: 41px;
  height: 21px;
  top: 2px;
  left: 161px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.messages .ellipse {
  position: relative;
  width: 19px;
  height: 19px;
  top: 1px;
  left: 21px;
  background-color: #7a7a7a;
  border-radius: 9.5px;
}

.messages .div {
  position: absolute;
  top: 2px;
  left: 34px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .moon {
  position: absolute;
  width: 15px;
  height: 15px;
}

.messages .messages-wrapper {
  position: absolute;
  width: 218px;
  height: 37px;
  top: 268px;
  left: 32px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.messages .div-2 {
  position: relative;
  width: 206px;
  height: 22px;
  top: 9px;
  left: 6px;
}

.messages .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 30px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-3 {
  top: 4px;
  left: 194px;
  position: absolute;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2257e5;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .element-mail {
  position: absolute;
  width: 21px;
  height: 16px;
  top: 2px;
  left: 0;
  background-image: url(./img/vector-31.svg);
  background-size: 100% 100%;
}

.messages .img {
  position: absolute;
  width: 15px;
  height: 15px;
}

.messages .FAQ {
  position: absolute;
  width: 125px;
  height: 22px;
  top: 362px;
  left: 40px;
}

.messages .FAQ-guides {
  position: absolute;
  top: 1px;
  left: 28px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .faq-icon {
  position: absolute;
  width: 15px;
  height: 20px;
  top: 0;
  left: 0;
}

.messages .overlap-group-2 {
  position: relative;
  height: 20px;
}

.messages .vector-2 {
  position: absolute;
  width: 12px;
  height: 2px;
  top: 16px;
  left: 2px;
}

.messages .vector-3 {
  position: absolute;
  width: 8px;
  height: 2px;
  top: 7px;
  left: 3px;
}

.messages .vector-4 {
  position: absolute;
  width: 8px;
  height: 2px;
  top: 3px;
  left: 3px;
}

.messages .task {
  position: absolute;
  width: 208px;
  height: 27px;
  top: 317px;
  left: 38px;
}

.messages .text-wrapper-4 {
  position: absolute;
  top: 3px;
  left: 30px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-5 {
  top: 0;
  left: 191px;
  color: #1e1e1e;
  font-size: 18px;
  position: absolute;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.messages .task-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: 0;
  background-image: url(./img/vector-43.svg);
  background-size: 100% 100%;
}

.messages .vector-5 {
  position: absolute;
  width: 15px;
  height: 15px;
}

.messages .everything {
  position: absolute;
  width: 104px;
  height: 21px;
  top: 234px;
  left: 39px;
}

.messages .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 29px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .everything-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 0;
  background-image: url(./img/vector-7.svg);
  background-size: 100% 100%;
}

.messages .vector-6 {
  position: absolute;
  width: 15px;
  height: 15px;
}

.messages .dashboard {
  position: absolute;
  width: 109px;
  height: 21px;
  top: 191px;
  left: 40px;
}

.messages .dashboard-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
}

.messages .vector-7 {
  position: absolute;
  width: 15px;
  height: 15px;
}

.messages .vector-8 {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 0;
  left: 9px;
}

.messages .vector-9 {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 9px;
  left: 0;
}

.messages .vector-10 {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 9px;
  left: 9px;
}

.messages .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 28px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .search-task {
  position: absolute;
  width: 220px;
  height: 36px;
  top: 121px;
  left: 32px;
}

.messages .overlap-2 {
  position: relative;
  width: 218px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 20px;
}

.messages .text-wrapper-8 {
  position: absolute;
  top: 8px;
  left: 14px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .isolation-mode {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 10px;
  left: 194px;
  background-image: url(./img/vector-38.svg);
  background-size: 100% 100%;
}

.messages .projects-chat {
  position: absolute;
  width: 218px;
  height: 430px;
  top: 411px;
  left: 32px;
}

.messages .projects {
  position: absolute;
  width: 218px;
  height: 331px;
  top: 60px;
  left: 0;
}

.messages .core {
  position: absolute;
  width: 202px;
  height: 36px;
  top: 295px;
  left: 12px;
}

.messages .text-wrapper-9 {
  top: 9px;
  left: 193px;
  position: absolute;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2257e5;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .core-health-fitness {
  position: absolute;
  top: 0;
  left: 24px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.messages .move {
  top: 12px;
  left: 0;
  position: absolute;
  width: 9px;
  height: 13px;
}

.messages .ellipse-2 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  left: 0;
  background-color: #7a7a7a;
  border-radius: 1.5px;
}

.messages .ellipse-3 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  left: 6px;
  background-color: #7a7a7a;
  border-radius: 1.5px;
}

.messages .ellipse-4 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 5px;
  left: 0;
  background-color: #7a7a7a;
  border-radius: 1.5px;
}

.messages .ellipse-5 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 5px;
  left: 6px;
  background-color: #7a7a7a;
  border-radius: 1.5px;
}

.messages .ellipse-6 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 10px;
  left: 0;
  background-color: #7a7a7a;
  border-radius: 1.5px;
}

.messages .ellipse-7 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 10px;
  left: 6px;
  background-color: #7a7a7a;
  border-radius: 1.5px;
}

.messages .ecore {
  position: absolute;
  width: 202px;
  height: 21px;
  top: 251px;
  left: 12px;
}

.messages .text-wrapper-10 {
  top: 2px;
  left: 190px;
  position: absolute;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2257e5;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 24px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .move-2 {
  top: 4px;
  left: 0;
  position: absolute;
  width: 9px;
  height: 13px;
}

.messages .fit-gear {
  position: absolute;
  width: 222px;
  height: 193px;
  top: 35px;
  left: 0;
}

.messages .okolona-fire-station {
  position: absolute;
  width: 180px;
  height: 40px;
  top: 153px;
  left: 34px;
}

.messages .text-wrapper-12 {
  position: absolute;
  top: 2px;
  left: 154px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ff3c1e;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .okolona-fire-station-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .dundy-county {
  position: absolute;
  top: 101px;
  left: 34px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .worcester-academy {
  position: absolute;
  top: 50px;
  left: 34px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .overlap-group-wrapper {
  position: absolute;
  width: 222px;
  height: 37px;
  top: 0;
  left: 0;
}

.messages .overlap-group-3 {
  position: relative;
  width: 218px;
  height: 37px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.messages .text-wrapper-13 {
  top: 10px;
  left: 205px;
  position: absolute;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2257e5;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-14 {
  position: absolute;
  top: 9px;
  left: 36px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .move-3 {
  top: 12px;
  left: 12px;
  position: absolute;
  width: 9px;
  height: 13px;
}

.messages .bsn-sports {
  position: absolute;
  width: 203px;
  height: 21px;
  top: 0;
  left: 12px;
}

.messages .text-wrapper-15 {
  top: 2px;
  left: 191px;
  position: absolute;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2257e5;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .slider-projects-chat {
  position: absolute;
  width: 218px;
  height: 32px;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.messages .div-wrapper {
  position: absolute;
  width: 109px;
  height: 32px;
  top: 0;
  left: 0;
  background-color: #2257e5;
  border-radius: 10px;
}

.messages .text-wrapper-16 {
  position: absolute;
  top: 5px;
  left: 26px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #f1f1f1;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-17 {
  position: absolute;
  top: 5px;
  left: 145px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .task-miester-logo {
  position: absolute;
  width: 222px;
  height: 48px;
  top: 42px;
  left: 30px;
}

.messages .search-user {
  position: absolute;
  width: 331px;
  height: 36px;
  top: 99px;
  left: 298px;
}

.messages .overlap-3 {
  position: relative;
  width: 329px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 20px;
}

.messages .text-wrapper-18 {
  position: absolute;
  top: 8px;
  left: 17px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .isolation-mode-2 {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 10px;
  left: 296px;
  background-image: url(./img/vector-28.svg);
  background-size: 100% 100%;
}

.messages .people {
  position: absolute;
  width: 283px;
  height: 361px;
  top: 501px;
  left: 311px;
}

.messages .kei {
  position: absolute;
  width: 234px;
  height: 50px;
  top: 311px;
  left: 0;
}

.messages .img-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.messages .overlap-4 {
  position: absolute;
  width: 158px;
  height: 38px;
  top: 7px;
  left: 72px;
}

.messages .overlap-group-4 {
  position: absolute;
  width: 158px;
  height: 38px;
  top: 0;
  left: 0;
}

.messages .text-wrapper-19 {
  position: absolute;
  width: 110px;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-20 {
  position: absolute;
  top: 18px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .status-online {
  top: 11px;
  left: 110px;
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #24e07e;
  border-radius: 2px;
}

.messages .brian {
  position: absolute;
  width: 278px;
  height: 50px;
  top: 233px;
  left: 0;
}

.messages .overlap-5 {
  position: absolute;
  width: 202px;
  height: 38px;
  top: 7px;
  left: 72px;
}

.messages .overlap-6 {
  width: 202px;
  top: 0;
  left: 0;
  position: absolute;
  height: 38px;
}

.messages .text-wrapper-21 {
  width: 118px;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  color: #1e1e1e;
  letter-spacing: 0;
  line-height: normal;
}

.messages .status-offline {
  top: 11px;
  left: 121px;
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #d2d2d2;
  border-radius: 2px;
}

.messages .sara {
  position: absolute;
  width: 249px;
  height: 50px;
  top: 155px;
  left: 0;
}

.messages .overlap-7 {
  position: absolute;
  width: 173px;
  height: 38px;
  top: 7px;
  left: 72px;
}

.messages .text-wrapper-22 {
  width: 112px;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  color: #1e1e1e;
  letter-spacing: 0;
  line-height: normal;
}

.messages .status-online-2 {
  top: 10px;
  left: 111px;
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #24e07e;
  border-radius: 2px;
}

.messages .reidesh {
  position: absolute;
  width: 268px;
  height: 50px;
  top: 78px;
  left: 1px;
}

.messages .overlap-8 {
  position: absolute;
  width: 193px;
  height: 38px;
  top: 7px;
  left: 71px;
}

.messages .overlap-9 {
  position: absolute;
  width: 193px;
  height: 38px;
  top: 0;
  left: 0;
}

.messages .text-wrapper-23 {
  position: absolute;
  width: 95px;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .status-online-3 {
  top: 10px;
  left: 100px;
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #24e07e;
  border-radius: 2px;
}

.messages .sergio {
  position: absolute;
  width: 287px;
  height: 50px;
  top: 0;
  left: 0;
}

.messages .overlap-10 {
  position: absolute;
  width: 211px;
  height: 40px;
  top: 5px;
  left: 72px;
}

.messages .overlap-11 {
  position: absolute;
  width: 211px;
  height: 40px;
  top: 0;
  left: 0;
}

.messages .text-wrapper-24 {
  width: 89px;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  color: #1e1e1e;
  letter-spacing: 0;
  line-height: normal;
}

.messages .p {
  position: absolute;
  top: 20px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .status-offline-2 {
  top: 12px;
  left: 93px;
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #d2d2d2;
  border-radius: 2px;
}

.messages .text-wrapper-25 {
  position: absolute;
  top: 454px;
  left: 301px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e1e1e;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .select-chat {
  position: absolute;
  width: 358px;
  height: 78px;
  top: 206px;
  left: 282px;
}

.messages .pined {
  position: absolute;
  width: 316px;
  height: 206px;
  top: 223px;
  left: 311px;
}

.messages .fitgear-chat {
  position: absolute;
  width: 202px;
  height: 50px;
  top: 78px;
  left: 0;
}

.messages .text-wrapper-26 {
  position: absolute;
  width: 126px;
  top: 4px;
  left: 72px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-27 {
  position: absolute;
  top: 25px;
  left: 72px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .ekko-chat {
  position: absolute;
  width: 202px;
  height: 50px;
  top: 156px;
  left: 0;
}

.messages .ekko-photo {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.messages .moncho {
  position: absolute;
  width: 319px;
  height: 50px;
  top: 0;
  left: 1px;
}

.messages .overlap-12 {
  position: absolute;
  width: 193px;
  height: 37px;
  top: 7px;
  left: 71px;
}

.messages .overlap-group-5 {
  position: absolute;
  width: 193px;
  height: 37px;
  top: 0;
  left: 0;
}

.messages .text-wrapper-28 {
  position: absolute;
  top: 17px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .status-online-4 {
  top: 11px;
  left: 114px;
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #24e07e;
  border-radius: 2px;
}

.messages .double-check-icon {
  position: absolute;
  width: 20px;
  height: 10px;
  top: 29px;
  left: 296px;
  aspect-ratio: 1.92;
}

.messages .text-wrapper-29 {
  position: absolute;
  top: 169px;
  left: 301px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e1e1e;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .type-chat {
  position: absolute;
  width: 1282px;
  height: 60px;
  top: 940px;
  left: 640px;
}

.messages .overlap-13 {
  position: relative;
  width: 1280px;
  height: 60px;
  background-color: #ffffffb2;
}

.messages .overlap-14 {
  position: absolute;
  width: 1130px;
  height: 34px;
  top: 13px;
  left: 20px;
  background-color: #ffffff;
  border-radius: 20px;
}

.messages .text-wrapper-30 {
  position: absolute;
  top: 7px;
  left: 27px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .clip {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 21px;
  left: 1206px;
}

.messages .microphone-icon {
  position: absolute;
  width: 11px;
  height: 19px;
  top: 21px;
  left: 1176px;
}

.messages .overlap-group-6 {
  position: relative;
  width: 12px;
  height: 21px;
  top: -1px;
  left: -1px;
}

.messages .micro {
  position: absolute;
  width: 9px;
  height: 13px;
  top: 0;
  left: 2px;
}

.messages .micro-2 {
  position: absolute;
  width: 12px;
  height: 7px;
  top: 10px;
  left: 0;
}

.messages .micro-3 {
  position: absolute;
  width: 2px;
  height: 5px;
  top: 15px;
  left: 5px;
}

.messages .micro-4 {
  position: absolute;
  width: 9px;
  height: 2px;
  top: 19px;
  left: 2px;
}

.messages .top-bar {
  position: absolute;
  width: 1279px;
  height: 84px;
  top: 74px;
  left: 640px;
  background-color: #ffffffb2;
}

.messages .search {
  position: absolute;
  width: 77px;
  height: 21px;
  top: 33px;
  left: 999px;
}

.messages .search-2 {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 1px;
  left: -1px;
}

.messages .input {
  position: absolute;
  top: 0;
  left: 25px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  background: transparent;
  border: none;
  padding: 0;
}

.messages .invite {
  position: absolute;
  width: 72px;
  height: 21px;
  top: 33px;
  left: 1111px;
}

.messages .add {
  position: absolute;
  width: 24px;
  height: 19px;
  top: 0;
  left: -1px;
}

.messages .text-wrapper-31 {
  position: absolute;
  top: 0;
  left: 31px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .info-icon {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 31px;
  left: 1203px;
}

.messages .overlap-15 {
  position: absolute;
  width: 186px;
  height: 50px;
  top: 17px;
  left: 29px;
}

.messages .status-online-5 {
  top: 35px;
  left: 72px;
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #24e07e;
  border-radius: 2px;
}

.messages .user-chat {
  position: absolute;
  width: 186px;
  height: 50px;
  top: 0;
  left: 0;
}

.messages .overlap-group-7 {
  position: absolute;
  width: 110px;
  height: 38px;
  top: 8px;
  left: 72px;
}

.messages .text-wrapper-32 {
  width: 110px;
  top: 0;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  color: #1e1e1e;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-33 {
  position: absolute;
  top: 18px;
  left: 8px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .message {
  position: absolute;
  width: 477px;
  height: 93px;
  top: 190px;
  left: 694px;
}

.messages .text-wrapper-34 {
  top: 73px;
  left: 80px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .coments {
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(./img/vector-6.svg);
  background-size: 100% 100%;
}

.messages .vector-11 {
  position: absolute;
  width: 7px;
  height: 1px;
  top: 4px;
  left: 4px;
}

.messages .vector-12 {
  position: absolute;
  width: 7px;
  height: 1px;
  top: 7px;
  left: 4px;
}

.messages .text-wrapper-35 {
  top: 75px;
  left: 434px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .chat {
  position: absolute;
  width: 413px;
  height: 69px;
  top: 0;
  left: 64px;
}

.messages .overlap-group-8 {
  position: relative;
  width: 409px;
  height: 69px;
  background-color: #ffffffb2;
  border-radius: 15px 15px 15px 0px;
}

.messages .text-wrapper-36 {
  top: 16px;
  left: 16px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 14px;
  position: absolute;
  color: #1e1e1e;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-37 {
  position: absolute;
  top: 35px;
  left: 16px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .vector-13 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 77px;
  left: 389px;
}

.messages .moncho-photo {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 13px;
  left: 0;
}

.messages .header-bh {
  position: absolute;
  width: 1637px;
  height: 74px;
  top: 0;
  left: 282px;
  background-color: #ffffffb2;
}

.messages .nav-items {
  position: absolute;
  width: 166px;
  height: 23px;
  top: 27px;
  left: 332px;
}

.messages .text-wrapper-38 {
  position: absolute;
  top: 0;
  left: 93px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-39 {
  top: 0;
  left: 24px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 15px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.messages .right-arrow {
  position: absolute;
  width: 6px;
  height: 12px;
  top: 6px;
  left: 78px;
}

.messages .home-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: -1px;
}

.messages .arrow-down-profile {
  position: absolute;
  width: 12px;
  height: 7px;
  top: 35px;
  left: 1854px;
}

.messages .timmer {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 29px;
  left: 1665px;
}

.messages .vector-14 {
  position: absolute;
  width: 5px;
  height: 9px;
  top: 5px;
  left: 9px;
}

.messages .vector-15 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.messages .notification {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 28px;
  left: 1752px;
}

.messages .overlap-16 {
  position: relative;
  height: 24px;
}

.messages .layer {
  position: absolute;
  width: 17px;
  height: 22px;
  top: 0;
  left: 7px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.messages .ellipse-8 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 14px;
  left: 0;
  background-color: #ff1d3f;
  border-radius: 5px;
}

.messages .overlap-wrapper-2 {
  position: absolute;
  width: 28px;
  height: 22px;
  top: 30px;
  left: 1704px;
}

.messages .overlap-17 {
  position: relative;
  height: 22px;
}

.messages .mail-icno {
  position: absolute;
  width: 23px;
  height: 18px;
  top: 0;
  left: 5px;
  background-image: url(./img/vector-29.svg);
  background-size: 100% 100%;
}

.messages .vector-16 {
  position: absolute;
  width: 15px;
  height: 15px;
}

.messages .ellipse-9 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 12px;
  left: 0;
  background-color: #ff1d3f;
  border-radius: 5px;
}

.messages .moncho-sidebar {
  position: absolute;
  width: 414px;
  height: 926px;
  top: 74px;
  left: 1920px;
}

.messages .overlap-18 {
  position: absolute;
  width: 410px;
  height: 926px;
  top: 0;
  left: 0;
  background-color: #ffffffb2;
}

.messages .overlap-19 {
  position: absolute;
  width: 244px;
  height: 44px;
  top: 203px;
  left: 84px;
}

.messages .text-wrapper-40 {
  top: 0;
  left: 57px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  position: absolute;
  color: #1e1e1e;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-41 {
  position: absolute;
  top: 24px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.messages .notification-2 {
  position: absolute;
  width: 355px;
  height: 21px;
  top: 366px;
  left: 29px;
}

.messages .notifi {
  position: absolute;
  top: 0;
  left: 26px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .bell-icon {
  position: absolute;
  width: 16px;
  height: 18px;
  top: -1184px;
  left: 193px;
}

.messages .slider {
  left: 312px;
  position: absolute;
  width: 41px;
  height: 21px;
  top: 0;
  background-color: var(--variable-collection-botones);
  border-radius: 10px;
}

.messages .ellipse-10 {
  position: relative;
  width: 19px;
  height: 19px;
  top: 1px;
  left: 2px;
  background-color: #ffffff;
  border-radius: 9.5px;
}

.messages .pinned {
  position: absolute;
  width: 353px;
  height: 22px;
  top: 401px;
  left: 31px;
}

.messages .text-wrapper-42 {
  position: absolute;
  top: 1px;
  left: 24px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .vector-17 {
  position: absolute;
  width: 12px;
  height: 16px;
  top: -1182px;
  left: 193px;
}

.messages .ellipse-wrapper {
  left: 310px;
  position: absolute;
  width: 41px;
  height: 21px;
  top: 0;
  background-color: var(--variable-collection-botones);
  border-radius: 10px;
}

.messages .meet {
  position: absolute;
  width: 360px;
  height: 68px;
  top: 450px;
  left: 28px;
}

.messages .overlap-group-9 {
  position: relative;
  width: 354px;
  height: 68px;
  background-color: #2257e5;
  border-radius: 10px;
}

.messages .text-wrapper-43 {
  position: absolute;
  top: 14px;
  left: 79px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-44 {
  position: absolute;
  top: 36px;
  left: 79px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .element-may-wrapper {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 5px;
  left: 6px;
  background-color: #1643bb;
  border-radius: 8px;
}

.messages .element-may {
  position: absolute;
  top: 13px;
  left: 12px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.messages .ellipse-11 {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 164px;
  left: 233px;
  background-color: #24e07e;
  border-radius: 13.5px;
  border: 3px solid;
  border-color: #ffffff;
}

.messages .files-media-links {
  position: absolute;
  width: 354px;
  height: 269px;
  top: 538px;
  left: 28px;
}

.messages .chat-file {
  position: absolute;
  width: 360px;
  height: 68px;
  top: 47px;
  left: 0;
}

.messages .overlap-20 {
  position: absolute;
  width: 354px;
  height: 68px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.messages .overlap-21 {
  width: 125px;
  top: 16px;
  left: 74px;
  position: absolute;
  height: 38px;
}

.messages .text-wrapper-45 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-46 {
  width: 90px;
  position: absolute;
  top: 18px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-47 {
  position: absolute;
  width: 56px;
  top: 23px;
  left: 261px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .exr-icon {
  position: absolute;
  width: 41px;
  height: 51px;
  top: 8px;
  left: 11px;
  overflow: hidden;
}

.messages .overlap-group-10 {
  position: relative;
  height: 51px;
  top: -1853px;
  left: -1766px;
}

.messages .vector-18 {
  position: absolute;
  width: 39px;
  height: 49px;
  top: 1px;
  left: 1px;
}

.messages .vector-19 {
  position: absolute;
  width: 41px;
  height: 51px;
  top: 0;
  left: 0;
}

.messages .vector-20 {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 10px;
  left: 10px;
}

.messages .vector-21 {
  position: absolute;
  width: 16px;
  height: 8px;
  top: 36px;
  left: 13px;
}

.messages .download-icon {
  position: absolute;
  width: 11px;
  height: 14px;
  top: -1772px;
  left: -1426px;
}

.messages .chat-file-2 {
  top: 124px;
  position: absolute;
  width: 360px;
  height: 68px;
  left: 0;
}

.messages .overlap-group-11 {
  position: absolute;
  width: 118px;
  height: 38px;
  top: 16px;
  left: 74px;
}

.messages .adobe-illustrator-AI {
  position: absolute;
  width: 56px;
  height: 56px;
  top: -1792px;
  left: -1752px;
  aspect-ratio: 1;
  object-fit: cover;
}

.messages .chat-file-3 {
  top: 201px;
  position: absolute;
  width: 360px;
  height: 68px;
  left: 0;
}

.messages .overlap-group-12 {
  position: absolute;
  width: 127px;
  height: 38px;
  top: 16px;
  left: 74px;
}

.messages .screenshot {
  position: absolute;
  width: 44px;
  height: 51px;
  top: -1790px;
  left: -1746px;
  aspect-ratio: 0.86;
}

.messages .files-media-links-2 {
  position: absolute;
  width: 354px;
  height: 32px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.messages .files-wrapper {
  position: absolute;
  width: 118px;
  height: 32px;
  top: 0;
  left: 0;
  background-color: var(--variable-collection-textos);
  border-radius: 10px;
}

.messages .files {
  position: relative;
  width: 57px;
  height: 21px;
  top: 6px;
  left: 29px;
}

.messages .text-wrapper-48 {
  position: absolute;
  top: 0;
  left: 25px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .files-2 {
  position: absolute;
  width: 14px;
  height: 16px;
  top: -1796px;
  left: -1755px;
}

.messages .links {
  position: absolute;
  width: 57px;
  height: 21px;
  top: 5px;
  left: 272px;
}

.messages .text-wrapper-49 {
  position: absolute;
  top: 0;
  left: 22px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .links-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -1795px;
  left: -1755px;
}

.messages .media {
  position: absolute;
  width: 71px;
  height: 21px;
  top: 6px;
  left: 144px;
}

.messages .text-wrapper-50 {
  top: 0;
  left: 25px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 14px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.messages .media-icon {
  position: absolute;
  width: 18px;
  height: 16px;
  top: -1796px;
  left: -1755px;
}

.messages .actions {
  position: absolute;
  width: 309px;
  height: 60px;
  top: 277px;
  left: 48px;
}

.messages .call {
  position: absolute;
  width: 36px;
  height: 60px;
  top: 0;
  left: 0;
}

.messages .text-wrapper-51 {
  position: absolute;
  top: 39px;
  left: 3px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.messages .rectangle-2 {
  width: 34px;
  height: 35px;
  left: 0;
  background-color: var(--variable-collection-bloques);
  border-radius: 20px;
  position: absolute;
  top: 0;
}

.messages .phone-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: -1528px;
  left: -1767px;
}

.messages .message-2 {
  position: absolute;
  width: 65px;
  height: 60px;
  top: 0;
  left: 77px;
}

.messages .text-wrapper-52 {
  position: absolute;
  top: 39px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.messages .rectangle-3 {
  width: 35px;
  height: 35px;
  left: 14px;
  background-color: var(--variable-collection-bloques);
  border-radius: 20px;
  position: absolute;
  top: 0;
}

.messages .message-icon {
  position: absolute;
  width: 17px;
  height: 15px;
  top: -1526px;
  left: -1752px;
}

.messages .meeting {
  position: absolute;
  width: 59px;
  height: 60px;
  top: 0;
  left: 172px;
}

.messages .rectangle-4 {
  width: 35px;
  height: 35px;
  left: 11px;
  background-color: var(--variable-collection-bloques);
  border-radius: 20px;
  position: absolute;
  top: 0;
}

.messages .calendar-icon {
  position: absolute;
  width: 17px;
  height: 19px;
  top: -1529px;
  left: -1755px;
}

.messages .more {
  position: absolute;
  width: 37px;
  height: 60px;
  top: 0;
  left: 274px;
}

.messages .rectangle-5 {
  width: 34px;
  height: 35px;
  left: 1px;
  background-color: var(--variable-collection-bloques);
  border-radius: 20px;
  position: absolute;
  top: 0;
}

.messages .points-icon {
  position: absolute;
  width: 14px;
  height: 2px;
  top: -1520px;
  left: -1764px;
}

.messages .moncho-photo-2 {
  position: absolute;
  width: 121px;
  height: 121px;
  top: -1119px;
  left: 341px;
}

.messages .close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: -1156px;
  left: 555px;
}

.messages .message-3 {
  position: absolute;
  width: 416px;
  height: 65px;
  top: 334px;
  left: 1453px;
}

.messages .chat-2 {
  width: 414px;
  height: 42px;
  position: absolute;
  top: 0;
  left: 0;
}

.messages .overlap-group-13 {
  position: relative;
  width: 412px;
  height: 42px;
  background-color: #ffffffb2;
  border-radius: 15px 15px 0px 15px;
}

.messages .double-check-icon-2 {
  height: 10px;
  top: 17px;
  left: 380px;
  aspect-ratio: 1.92;
  position: absolute;
  width: 20px;
}

.messages .text-wrapper-53 {
  position: absolute;
  width: 348px;
  top: 11px;
  left: 17px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-54 {
  top: 45px;
  left: 38px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .coments-2 {
  top: 50px;
  left: 355px;
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url(./img/vector-26.svg);
  background-size: 100% 100%;
}

.messages .text-wrapper-55 {
  top: 47px;
  left: 373px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .vector-22 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 49px;
  left: 328px;
}

.messages .message-4 {
  position: absolute;
  width: 242px;
  height: 267px;
  top: 431px;
  left: 1627px;
}

.messages .overlap-22 {
  position: absolute;
  width: 238px;
  height: 244px;
  top: 0;
  left: 0;
  background-color: #ffffffb2;
}

.messages .double-check-icon-3 {
  height: 10px;
  top: 223px;
  left: 206px;
  aspect-ratio: 1.92;
  position: absolute;
  width: 20px;
}

.messages .images-chat {
  position: absolute;
  width: 202px;
  height: 202px;
  top: 18px;
  left: 18px;
}

.messages .screenshot-2 {
  position: absolute;
  width: 96px;
  height: 96px;
  top: 0;
  left: 0;
  aspect-ratio: 1;
  object-fit: cover;
}

.messages .screenshot-3 {
  position: absolute;
  width: 96px;
  height: 96px;
  top: 106px;
  left: 0;
  aspect-ratio: 1;
}

.messages .screenshot-4 {
  position: absolute;
  width: 96px;
  height: 96px;
  top: 0;
  left: 106px;
  aspect-ratio: 1;
  object-fit: cover;
}

.messages .element-files {
  position: absolute;
  width: 98px;
  height: 96px;
  top: 106px;
  left: 106px;
}

.messages .overlap-group-14 {
  position: relative;
  width: 96px;
  height: 96px;
  background-color: var(--variable-collection-textos);
  border-radius: 10px;
}

.messages .text-wrapper-56 {
  top: 36px;
  left: 37px;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-57 {
  top: 247px;
  left: 18px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .coments-3 {
  top: 252px;
  left: 181px;
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url(./img/vector-8.svg);
  background-size: 100% 100%;
}

.messages .text-wrapper-58 {
  top: 249px;
  left: 199px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .vector-23 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 251px;
  left: 154px;
}

.messages .message-5 {
  position: absolute;
  width: 405px;
  height: 128px;
  top: 729px;
  left: 1464px;
}

.messages .div-3 {
  position: absolute;
  width: 405px;
  height: 106px;
  top: 0;
  left: 0;
}

.messages .overlap-group-15 {
  position: relative;
  width: 401px;
  height: 106px;
  background-color: #ffffffb2;
  border-radius: 15px 15px 0px 15px;
}

.messages .text-wrapper-59 {
  position: absolute;
  width: 266px;
  top: 12px;
  left: 120px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .text-wrapper-60 {
  position: absolute;
  top: 73px;
  left: 120px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-textos-2);
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .screenshot-5 {
  position: absolute;
  width: 88px;
  height: 80px;
  top: 12px;
  left: 17px;
  aspect-ratio: 1.1;
  object-fit: cover;
}

.messages .double-check-icon-4 {
  height: 12px;
  top: 84px;
  left: 369px;
  position: absolute;
  width: 20px;
}

.messages .text-wrapper-61 {
  top: 108px;
  left: 17px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .coments-4 {
  top: 113px;
  left: 344px;
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url(./img/vector-24.svg);
  background-size: 100% 100%;
}

.messages .text-wrapper-62 {
  top: 110px;
  left: 362px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.messages .vector-24 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 112px;
  left: 317px;
}

.messages .javier-photo {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 17px;
  left: 1802px;
}
